@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto");html {
    font-size: 62.5%
}

body {
    background: #181818;
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.6center-object
}

html,body {
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-weight: normal;
    margin: 0
}

h1 {
    font-weight: 300;
    margin-bottom: 2rem;
    margin-top: 0
}

h1 {
    font-size: 4rem;
    letter-spacing: -.1rem;
    line-height: 1.2
}

@keyframes button-enter {
    from {
        opacity: 0;
        top: 2em
    }

    70% {
        top: -.3em
    }

    100% {
        opacity: 1;
        top: 0
    }
}

.btn,input[type="submit"] {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 38px;
    line-height: 38px;
    margin: .5em;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap
}

.btn.steamlevels,input[type="submit"].steamlevels {
    background-color: #05cc47;
    filter: drop-shadow(5px 5px 0 rgba(5,204,71,0.6))
}

.btn.steamlevels:hover,input[type="submit"].steamlevels:hover {
    filter: drop-shadow(5px 5px 0 rgba(5,204,71,0.6)) brightness(50%)
}

.btn.steamlevels-border,input[type="submit"].steamlevels-border {
    border: 3px solid #05cc47;
    height: auto
}

.btn.steamlevels-border:hover,input[type="submit"].steamlevels-border:hover {
    filter: brightness(50%)
}

.btn.steamlevels-border-nodark,input[type="submit"].steamlevels-border-nodark {
    border: 3px solid #05cc47;
    height: auto
}

.btn.steamlevels-nodark,input[type="submit"].steamlevels-nodark {
    background-color: #05cc47;
    filter: drop-shadow(5px 5px 0 rgba(5,204,71,0.6))
}

.btn.steamlevels-flat,input[type="submit"].steamlevels-flat {
    background-color: #05cc47
}

.btn.steamlevels-flat:hover,input[type="submit"].steamlevels-flat:hover {
    filter: brightness(50%)
}

.btn.steamlevels-flat-nodark,input[type="submit"].steamlevels-flat-nodark {
    background-color: #05cc47
}

.btn.discord,input[type="submit"].discord {
    background-color: #7289da;
    filter: drop-shadow(5px 5px 0 rgba(114,137,218,0.6))
}

.btn.discord:hover,input[type="submit"].discord:hover {
    filter: drop-shadow(5px 5px 0 rgba(114,137,218,0.6)) brightness(50%)
}

.btn.discord-border,input[type="submit"].discord-border {
    border: 3px solid #7289da;
    height: auto
}

.btn.discord-border:hover,input[type="submit"].discord-border:hover {
    filter: brightness(50%)
}

.btn.discord-border-nodark,input[type="submit"].discord-border-nodark {
    border: 3px solid #7289da;
    height: auto
}

.btn.discord-nodark,input[type="submit"].discord-nodark {
    background-color: #7289da;
    filter: drop-shadow(5px 5px 0 rgba(114,137,218,0.6))
}

.btn.discord-flat,input[type="submit"].discord-flat {
    background-color: #7289da
}

.btn.discord-flat:hover,input[type="submit"].discord-flat:hover {
    filter: brightness(50%)
}

.btn.discord-flat-nodark,input[type="submit"].discord-flat-nodark {
    background-color: #7289da
}

.btn.instagram,input[type="submit"].instagram {
    background-color: #c32aa3;
    filter: drop-shadow(5px 5px 0 rgba(195,42,163,0.6))
}

.btn.instagram:hover,input[type="submit"].instagram:hover {
    filter: drop-shadow(5px 5px 0 rgba(195,42,163,0.6)) brightness(50%)
}

.btn.instagram-border,input[type="submit"].instagram-border {
    border: 3px solid #c32aa3;
    height: auto
}

.btn.instagram-border:hover,input[type="submit"].instagram-border:hover {
    filter: brightness(50%)
}

.btn.instagram-border-nodark,input[type="submit"].instagram-border-nodark {
    border: 3px solid #c32aa3;
    height: auto
}

.btn.instagram-nodark,input[type="submit"].instagram-nodark {
    background-color: #c32aa3;
    filter: drop-shadow(5px 5px 0 rgba(195,42,163,0.6))
}

.btn.instagram-flat,input[type="submit"].instagram-flat {
    background-color: #c32aa3
}

.btn.instagram-flat:hover,input[type="submit"].instagram-flat:hover {
    filter: brightness(50%)
}

.btn.instagram-flat-nodark,input[type="submit"].instagram-flat-nodark {
    background-color: #c32aa3
}

.btn.steam,input[type="submit"].steam {
    background-color: #171a21;
    filter: drop-shadow(5px 5px 0 rgba(23,26,33,0.6))
}

.btn.steam:hover,input[type="submit"].steam:hover {
    filter: drop-shadow(5px 5px 0 rgba(23,26,33,0.6)) brightness(50%)
}

.btn.steam-border,input[type="submit"].steam-border {
    border: 3px solid #171a21;
    height: auto
}

.btn.steam-border:hover,input[type="submit"].steam-border:hover {
    filter: brightness(50%)
}

.btn.steam-border-nodark,input[type="submit"].steam-border-nodark {
    border: 3px solid #171a21;
    height: auto
}

.btn.steam-nodark,input[type="submit"].steam-nodark {
    background-color: #171a21;
    filter: drop-shadow(5px 5px 0 rgba(23,26,33,0.6))
}

.btn.steam-flat,input[type="submit"].steam-flat {
    background-color: #171a21
}

.btn.steam-flat:hover,input[type="submit"].steam-flat:hover {
    filter: brightness(50%)
}

.btn.steam-flat-nodark,input[type="submit"].steam-flat-nodark {
    background-color: #171a21
}

.btn.twitch,input[type="submit"].twitch {
    background-color: #6441a4;
    filter: drop-shadow(5px 5px 0 rgba(100,65,164,0.6))
}

.btn.twitch:hover,input[type="submit"].twitch:hover {
    filter: drop-shadow(5px 5px 0 rgba(100,65,164,0.6)) brightness(50%)
}

.btn.twitch-border,input[type="submit"].twitch-border {
    border: 3px solid #6441a4;
    height: auto
}

.btn.twitch-border:hover,input[type="submit"].twitch-border:hover {
    filter: brightness(50%)
}

.btn.twitch-border-nodark,input[type="submit"].twitch-border-nodark {
    border: 3px solid #6441a4;
    height: auto
}

.btn.twitch-nodark,input[type="submit"].twitch-nodark {
    background-color: #6441a4;
    filter: drop-shadow(5px 5px 0 rgba(100,65,164,0.6))
}

.btn.twitch-flat,input[type="submit"].twitch-flat {
    background-color: #6441a4
}

.btn.twitch-flat:hover,input[type="submit"].twitch-flat:hover {
    filter: brightness(50%)
}

.btn.twitch-flat-nodark,input[type="submit"].twitch-flat-nodark {
    background-color: #6441a4
}

.btn.twitter,input[type="submit"].twitter {
    background-color: #1da1f2;
    filter: drop-shadow(5px 5px 0 rgba(29,161,242,0.6))
}

.btn.twitter:hover,input[type="submit"].twitter:hover {
    filter: drop-shadow(5px 5px 0 rgba(29,161,242,0.6)) brightness(50%)
}

.btn.twitter-border,input[type="submit"].twitter-border {
    border: 3px solid #1da1f2;
    height: auto
}

.btn.twitter-border:hover,input[type="submit"].twitter-border:hover {
    filter: brightness(50%)
}

.btn.twitter-border-nodark,input[type="submit"].twitter-border-nodark {
    border: 3px solid #1da1f2;
    height: auto
}

.btn.twitter-nodark,input[type="submit"].twitter-nodark {
    background-color: #1da1f2;
    filter: drop-shadow(5px 5px 0 rgba(29,161,242,0.6))
}

.btn.twitter-flat,input[type="submit"].twitter-flat {
    background-color: #1da1f2
}

.btn.twitter-flat:hover,input[type="submit"].twitter-flat:hover {
    filter: brightness(50%)
}

.btn.twitter-flat-nodark,input[type="submit"].twitter-flat-nodark {
    background-color: #1da1f2
}

.btn.youtube,input[type="submit"].youtube {
    background-color: red;
    filter: drop-shadow(5px 5px 0 rgba(255,0,0,0.6))
}

.btn.youtube:hover,input[type="submit"].youtube:hover {
    filter: drop-shadow(5px 5px 0 rgba(255,0,0,0.6)) brightness(50%)
}

.btn.youtube-border,input[type="submit"].youtube-border {
    border: 3px solid red;
    height: auto
}

.btn.youtube-border:hover,input[type="submit"].youtube-border:hover {
    filter: brightness(50%)
}

.btn.youtube-border-nodark,input[type="submit"].youtube-border-nodark {
    border: 3px solid red;
    height: auto
}

.btn.youtube-nodark,input[type="submit"].youtube-nodark {
    background-color: red;
    filter: drop-shadow(5px 5px 0 rgba(255,0,0,0.6))
}

.btn.youtube-flat,input[type="submit"].youtube-flat {
    background-color: red
}

.btn.youtube-flat:hover,input[type="submit"].youtube-flat:hover {
    filter: brightness(50%)
}

.btn.youtube-flat-nodark,input[type="submit"].youtube-flat-nodark {
    background-color: red
}

.btn:hover,input[type="submit"]:hover {
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease;
    color: #fff
}

.btn.animation,input[type="submit"].animation {
    animation: button-enter 1s ease-in-out forwards;
    -webkit-animation: button-enter 1s ease-in-out forwards;
    -ms-animation: button-enter 1s ease-in-out forwards;
    -moz-animation: button-enter 1s ease-in-out forwards;
    -o-animation: button-enter 1s ease-in-out forwards;
    opacity: 0;
    position: relative
}

.btn.animation:nth-child(1),input[type="submit"].animation:nth-child(1) {
    animation-delay: .25s
}

.btn.animation:nth-child(2),input[type="submit"].animation:nth-child(2) {
    animation-delay: .5s
}

.btn.animation:nth-child(3),input[type="submit"].animation:nth-child(3) {
    animation-delay: .75s
}

.btn.animation:nth-child(4),input[type="submit"].animation:nth-child(4) {
    animation-delay: 1s
}

.btn.animation:nth-child(5),input[type="submit"].animation:nth-child(5) {
    animation-delay: 1.25s
}

.btn.animation:nth-child(6),input[type="submit"].animation:nth-child(6) {
    animation-delay: 1.5s
}

.btn.animation:nth-child(7),input[type="submit"].animation:nth-child(7) {
    animation-delay: 1.75s
}

.btn.animation:nth-child(8),input[type="submit"].animation:nth-child(8) {
    animation-delay: 2s
}

.btn.animation:nth-child(9),input[type="submit"].animation:nth-child(9) {
    animation-delay: 2.25s
}

.btn.animation:nth-child(10),input[type="submit"].animation:nth-child(10) {
    animation-delay: 2.5s
}

.btn.animation:nth-child(11),input[type="submit"].animation:nth-child(11) {
    animation-delay: 2.75s
}

.btn.animation:nth-child(12),input[type="submit"].animation:nth-child(12) {
    animation-delay: 3s
}

.btn.animation:nth-child(13),input[type="submit"].animation:nth-child(13) {
    animation-delay: 3.25s
}

.btn.animation:nth-child(14),input[type="submit"].animation:nth-child(14) {
    animation-delay: 3.5s
}

.btn.animation:nth-child(15),input[type="submit"].animation:nth-child(15) {
    animation-delay: 3.75s
}

.btn.hover-scale,input[type="submit"].hover-scale {
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease
}

.btn.hover-scale:hover,input[type="submit"].hover-scale:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -o-transform: scale(1.05)
}

.btn.hover-scale-inset,input[type="submit"].hover-scale-inset {
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease
}

.btn.hover-scale-inset:hover,input[type="submit"].hover-scale-inset:hover {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -o-transform: scale(0.95)
}

.btn.hover-bounce:hover,input[type="submit"].hover-bounce:hover {
    animation: bounce-button 750ms ease-in-out;
    -webkit-animation: bounce-button 750ms ease-in-out;
    -ms-animation: bounce-button 750ms ease-in-out;
    -moz-animation: bounce-button 750ms ease-in-out;
    -o-animation: bounce-button 750ms ease-in-out
}

.btn.hover,input[type="submit"].hover {
    transition: all 350ms ease;
    -webkit-transition: all 350ms ease;
    -ms-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    -o-transition: all 350ms ease
}

.btn.hover:hover,input[type="submit"].hover:hover {
    transform: translateY(-0.5em);
    -webkit-transform: translateY(-0.5em);
    -ms-transform: translateY(-0.5em);
    -moz-transform: translateY(-0.5em);
    -o-transform: translateY(-0.5em)
}

.emoji {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1em 1em;
    display: inline-block;
    height: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -.1em;
    width: 1em
}

.center-object {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    position: absolute;
    top: 0;
    vertical-align: middle;
    width: 100%
}

.fullscreen {
    background-color: #181818;
    position: relative
}

.fullscreen .background {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) brightness(50%);
    height: 100%;
    width: 100%
}

.me {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 1rem 0;
    z-index: 10
}

.me.unset {
    flex-direction: unset
}

.me.unset .image-title {
    margin-right: .25em
}

.me.unset .unset {
    margin-left: .5em
}

.me.unset .unset .title,.me.unset .unset .undertitle {
    flex-direction: column;
    margin: 0
}

.me .image-title {
    border-radius: 100%;
    height: 9em;
    width: 9em
}

.me .image-title.large-border {
    border-radius: 25px
}

.me .image-title.medium-border {
    border-radius: 15px
}

.me .image-title.small-border {
    border-radius: 5px
}

.me .image-title.no-border {
    border-radius: 0
}

.me .title {
    filter: drop-shadow(6px 6px 0 rgba(0,0,0,0.4));
    font-size: 5rem;
    letter-spacing: 1px;
    margin: .25em
}

.me .undertitle {
    filter: drop-shadow(3px 3px 0 rgba(0,0,0,0.4));
    font-size: 2.5rem;
    letter-spacing: 1px;
    margin: 0
}
